.advantages.section
	.container
		.block-header
			h2.item-title Десять стандартов, которыми мы гордимся
			p.item-subtitle ЭкоТаймыр — семейное предприятие замкнутого цикла. Мы — хозяева, и сами продумали от и до наше предложение, возможности, правила работы, нашли свою уникальность и бережно ее сохраняем
		.row
			.col-md-6.advantages__item
				.d-table-top.advantages__icon
					img(src="images/100_natural.svg", alt="")
				.d-table-top
					h4.bitter-font 100% натурально
					p В составе нет сои, красителей, консервантов, хлеба,  ГМО и других химических добавок.
			.col-md-6.advantages__item
				.d-table-top.advantages__icon
					img(src="images/legal.svg", alt="")
				.d-table-top
					h4.bitter-font Легально
					p Имеем все необходимые сертификаты на продукцию, собственный бренд и авторское право, лицензии на отлов. Все честно и законно.
			.col-md-6.advantages__item
				.d-table-top.advantages__icon
					img(src="images/eco.svg", alt="")
				.d-table-top
					h4.bitter-font Экологично
					p Таймыр — чистейшее место, идеальное для отлова дичи и сбора дикоросов.
			.col-md-6.advantages__item
				.d-table-top.advantages__icon
					img(src="images/delivery.svg", alt="")
				.d-table-top
					h4.bitter-font Доставка
					p Привезем заказы в любой регион России, сотрудничаем с надежными авиа-, авто- и ж/д перевозчиками.
			.col-md-6.advantages__item
				.d-table-top.advantages__icon
					img(src="images/reciept.svg", alt="")
				.d-table-top
					h4.bitter-font Собственная рецептура
					p Способы приготовления продуктов — результат семейного труда. Рецепты нигде больше не повторяются.
			.col-md-6.advantages__item
				.d-table-top.advantages__icon
					img(src="images/obratnaja.svg", alt="")
				.d-table-top
					h4.bitter-font Обратная связь
					p Дорожим своими клиентами и внимательно изучаем обратную связь, чтобы поставлять именно то, что нужно каждому заказчику.
			.col-md-6.advantages__item
				.d-table-top.advantages__icon
					img(src="images/quality.png", alt="")
				.d-table-top
					h4.bitter-font Качество
					p Внедрили на предприятии программу контроля ХАССП. Проводим лабораторные исследования,  контроль на входе сырья и выпуске продукции.
			.col-md-6.advantages__item
				.d-table-top.advantages__icon
					img(src="images/clear.svg", alt="")
				.d-table-top
					h4.bitter-font Прозрачность
					p Декларируем прозрачность работы и в буквальном смысле тоже: не прячем продукт в сложную упаковку, все сразу видно в прозрачных вакуумных пакетах.
			.col-md-6.advantages__item
				.d-table-top.advantages__icon
					img(src="images/individual.svg", alt="")
				.d-table-top
					h4.bitter-font Индивидуальный подход
					p Делаем разную фасовку, помогаем с выбором, меняем рецептуру согласно вашим предпочтениям. Вы точно получите то, что вам нужно.
			.col-md-6.advantages__item
				.d-table-top.advantages__icon
					img(src="images/meat.svg", alt="")
				.d-table-top
					h4.bitter-font Ассортимент
					p Предлагаем купить в одном месте максимально широкую линейку продуктов из дикой оленины, даров Крайнего Севера.
