.clients.section
	.container
		.block-header
			h2.item-title Наши основные клиенты
			p.item-subtitle Предлагаем оленину и другие северные деликатесы от производителя оптом — для дальнейшей реализации
		.row
			.col-xl-4.col-md-6
				.clients__item
					.clients__text Бары и рестораны с отличной кухней
			.col-xl-4.col-md-6
				.clients__item
					.clients__text Владельцы магазинов уникальных продуктов
			.col-xl-4.col-md-6
				.clients__item
					.clients__text Менеджеры по закупкам для компаний HoReCa
			.col-xl-4.col-md-6
				.clients__item
					.clients__text Производители полуфабрикатов
			.col-xl-4.col-md-6
				.clients__item
					.clients__text Кейтеринговые организации, ищущие продукты-диковинки
			.col-xl-4.col-md-6
				.clients__item
					.clients__text Интернет-магазины, рынки, пивники
		.block-info
			p 
				| Обращайтесь, обязательно 
				b подберем оленину, 
				| а также другие деликатесы
				br
				| под ваши потребности и задачи
			a(href="#").btn.btn-red Оставить заявку