footer.footer
	.container
		.footer-top.row.no-gutters.justify-content-between
			.footer__item
				.footer__logo
					img(src="images/logo-footer.png", alt="")
				.footer__text Производство продукции из дичи и дикоросов Таймыра и Сибири. 
				.footer__text ИП Резяпкин Д.В., ОГРН 308246825600220
				.quality
					span.middle
						img(src="images/meat-dich.png", alt="")
					span.middle
						img(src="images/natural-product.png", alt="")
			.footer__item
				ul.footer__menu
					li
						a(href="#") Главная
					li 
						a(href="#") Каталог
					li
						a(href="#") О компании
					li
						a(href="#") Доставка
					li
						a(href="#") Где Купить
					li
						a(href="#") Оптовикам
					li
						a(href="#") Контакты
			.footer__item
				.footer__contact
					h6.footer__title Менеджеры
					.footer__contact__item
						p
							| Федорова Ирина
							br 
							| 8 (908) 224 22 44
						a(href="#") irina@eco-taimyr.ru
					.footer__contact__item
						p
							| Пименова Жанна
							br 
							| 8 (950) 422 24 40
						a(href="#") janna@eco-taimyr.ru
				.footer__contact
					h6.footer__title Директор
					.footer__contact__item
						p
							| Резяпкина Ангелина
							br 
							| 8 (902) 942 39 92
						a(href="#") 8 (902) 942 39 92
			.footer__item
				h6.footer__title Офис
				.footer__gps
					| г. Красноярск,
					br
					| ул. Дубровинского, 
					br
					| 110, оф. 605
				a(href="#").btn.btn-white Заказать офис
				.footer__phone
					p 8 (908) 224 22 44
					p 8 (950) 422 24 40
				.footer__social
					a(href="#").middle.whatsup
					a(href="#").middle.viber
					a(href="#").middle.telegram
		.footer-bottom.row.no-gutters.justify-content-between
			div © ЭкоТаймыр, 2010 – 2018 
			div
				a(href="#") Политика конфиденциальности
			div
				| Разработка сайта — 
				a(href="#").develop-link EuGenia