.form.section
	.container
		.row.no-gutters.justify-content-between
			.form__text
				.form__text__content
					h2.item-title Оставьте заявку
					p или заполните форму обратной связи и мы с вами свяжемся
			.form__btn
				a(href="#").btn.btn-red Оставить заявку
				a(href="#").btn.btn-large Связаться с менеджером