.modal.modal--black.fade#popup(role="dialog")
	.modal-dialog
		.modal-content
			.modal-header
				h2.item-title Заказать звонок
				a(href="#", data-dismiss="modal", aria-label="Close").modal-close ×
			.modal-body
				.form-group
					.label Имя
					input(type="text").form-control.form-control--white
				.form-group
					.label Телефон
					input(type="text").form-control.form-control--white
			.modal-footer
				button(type="submit").btn.btn-red Отправить
			
			