.products.section
	.container
		.block-header
			h2.item-title Лучший подарок из Сибири — продукты «ЭкоТаймыр»
		.products__row.row
			.col-md-5
				img(src="http://via.placeholder.com/420x280", alt="")
			.col-md-7.products__descr
				h3 Настоящая дичь и дикоросы
				p Уникальность нашей продукции в том, что это именно дичь и дикоросы в полном понимании. Никаких пастбищ и аквариумов, искусственно выращенных ягод и грибов; никакого прикорма и антибиотиков. Только здоровые животные и растения, которые выживают в дикой природе сами. Они растут в естественных условиях и питаются только тем, что добывают на суровой земле Таймыра, обогащенной минералами и витаминами.
		.products__row.row.reverse-sm
			.col-md-7.products__descr
				h3 Настоящая дичь и дикоросы
				p Уникальность нашей продукции в том, что это именно дичь и дикоросы в полном понимании. Никаких пастбищ и аквариумов, искусственно выращенных ягод и грибов; никакого прикорма и антибиотиков. Только здоровые животные и растения, которые выживают в дикой природе сами. Они растут в естественных условиях и питаются только тем, что добывают на суровой земле Таймыра, обогащенной минералами и витаминами.
			.col-md-5
				img(src="http://via.placeholder.com/420x280", alt="")
		.products__row.row
			.col-md-5
				img(src="http://via.placeholder.com/420x280", alt="")
			.col-md-7.products__descr
				h3 Настоящая дичь и дикоросы
				p Уникальность нашей продукции в том, что это именно дичь и дикоросы в полном понимании. Никаких пастбищ и аквариумов, искусственно выращенных ягод и грибов; никакого прикорма и антибиотиков. Только здоровые животные и растения, которые выживают в дикой природе сами. Они растут в естественных условиях и питаются только тем, что добывают на суровой земле Таймыра, обогащенной минералами и витаминами.