.banner
	.container
		.carousel
			.slider__item
				.slider__img(style="background-image: url(images/banner.jpg)")
				.slider__descr.row.no-gutters.align-items-center
					div
						h2 Сибирские деликатесы Таймыра
						p Энергия Севера в каждом продукте
						a(href="#").btn.btn-red В каталог
			.slider__item
				.slider__img(style="background-image: url(images/banner.jpg)")
				.slider__descr.row.no-gutters.align-items-center
					div
						h2 Сибирские деликатесы Таймыра
						p Энергия Севера в каждом продукте
						a(href="#").btn.btn-red В каталог