.text-block.section
	.container
		.row.reverse-md
			.col-lg-6
				h2.item-title Лучший способ оценить северные гостинцы — попробовать их
				p Подумайте о расширении собственного ассортимента продуктов для гурманов, состоятельных клиентов, сторонников ЗОЖ. Присылайте свои вопросы и пожелания — мы вместе решим, чем привлечь ваших клиентов, подстроимся под запросы вашей целевой аудитории.
				p
					b Заказывайте ни с чем не сравнимые деликатесы из удивительного края вечной мерзлоты, и увеличивайте поток своих клиентов и средний чек.
			.col-lg-6
				img(src="http://via.placeholder.com/555x440", alt="")