extends pug/base

append vars

block content
	include pug/header
	.about
		.container
			.about__banner.row.no-gutters.align-items-center(style="background-image: url(images/banner-about.jpg)")
				div
					| ЭкоТаймыр — семейное предприятие по добыче, производству и продаже продуктов из дичи и дикоросов
			.about__banner-descr
				| ЭкоТаймыр — компания, которая производит традиционные для Крайнего Севера и Сибирской тайги деликатесы. Работаем с 2010 года. Добываем дичь и дикоросы на легендарном Таймыре — полуострове вечной мерзлоты и северного сияния. Сами заготавливаем сырье, разрабатываем рецепты, производим и реализуем экологически чистые продукты — деликатесы Севера.
			.about__text
				h2.item-title.item-title--center Быть, а не казаться
				p ЭкоТаймыр — семейное предприятие. Мы родились и живем на Таймыре, и с особым трепетом относимся к местной природе. Мы не выращиваем продукты «под лампой» — поставляем только натуральную продукцию, из дикой природы. Оленина не может быть некачественной, поскольку животные растут в условиях естественного отбора, и все они здоровые и сильные. Больной олень не сможет выжить в дикой среде и сразу будет съеден волками. Любой деликатес, будь то ягода, мясо или рыба, имеют природную оригинальную форму.
				p Мы дорожим каждым клиентом и особо приветствуем обратную связь. Для нас очень важно понимать, какой продукт вам нужен. С готовностью корректируем рецептуру, изобретаем новые способы приготовления северных деликатесов. Учитываем потребности сторонников ЗОЖ, дозируем количество соли. Поставляем именно то, что соответствует потребностям ваших клиентов.
			.about__quote
				| Регулярно проводим лабораторные исследования и двойной ветеринарный контроль качества — на входе сырья и выпуске продукции
			.about__quality.row.no-gutters
				.col-lg-5
					.about__quality__text.row.no-gutters.align-items-center
						div
							| Продукты ЭкоТаймыр — настоящий знак качества
				.col-lg-7
					.about__quality__img.row.no-gutters.align-items-center
						div
							img(src="images/quality-img.png", alt="")
			.about__info
				center
					h2.item-title ЭкоТаймыр в цифрах и фактах
				.row.no-gutters.justify-content-between
					.about__info__item
						.about__info__img
							img(src="images/8-year.svg", alt="")
						.about__info__text
							| на рынке уникальных продуков
					.about__info__item
						.about__info__img
							img(src="images/568.svg", alt="")
						.about__info__text
							| собственных рецептов
					.about__info__item
						.about__info__img
							img(src="images/200+ .svg", alt="")
						.about__info__text
							| наименований продукции
					.about__info__item
						.about__info__img
							img(src="images/3000+.svg", alt="")
						.about__info__text
							| постоянных клиентов
					.about__info__item
						.about__info__img
							img(src="images/318.svg", alt="")
						.about__info__text
							| благодарных отзывов
					.about__info__item
						.about__info__img
							img(src="images/TM.svg", alt="")
						.about__info__text
							| ТМ «ЭкоТаймыр» запатентована
					.about__info__item
						.about__info__img
							img(src="images/license.svg", alt="")
						.about__info__text
							| лицензированное производство
					.about__info__item
						.about__info__img
							img(src="images/mercury.svg", alt="")
						.about__info__text
							| регистрация в системе Меркурий
					.about__info__item
						.about__info__img
							img(src="images/ХАССП.svg", alt="")
						.about__info__text
							| программа производственного контроля
					.about__info__item
						.about__info__img
							img(src="images/cert.svg", alt="")
						.about__info__text
							| оригинальные сертификаты
	.section.section--grey.philosophy
		.container
			center
				h2.item-title Наша философия
			.row.philosophy__content
				.col-lg-4
					h3 Миссия
					p Развивая собственное производство, поддерживать традиционный промысел коренных народов Севера, приумножать их ценности и культуру, популяризировать их и нести в массы.
				.col-lg-4
					h3 Цель
					p Предоставить покупателю самый востребованный ассортимент вкуснейших продуктов из дикой оленины, а также северной рыбы и дикоросов в одном месте.
				.col-lg-4
					h3 Задачи
					p Обеспечить поставку деликатесов в нужном для клиентов количестве и в сжатые сроки, контролировать и совершенствовать качество продукции.
	.section
		.container
			.row
				.col-xl-3.col-lg-4.col-md-5
					img(src="images/angelina.png", alt="")
				.col-xl-9.col-lg-8.col-md-7
					.quote
						h2.item-title Современные люди выбирают натуральные продукты
						p При всем продуктовом изобилии на прилавках магазинов, крайне сложно найти истинно природные деликатесы, не испорченные высокими технологиями. Наша уникальность в принципиально ином подходе к приготовлению дичи и дикоросов. Продолжая промысел наших предков, мы сохраняем тройственную гармонию, сочетая домашний вкус, элитное качество и щадящие способы обработки продуктов.
						.director
							.director__name
								| Резяпкина Ангелина
							.director__text
								| Директор «ЭкоТаймыр»
	.section.section--grey.section--service
		.container
			.row.no-gutters.justify-content-between
				.col-xl-7
					h2.item-title «Вкусный» сервис
					p Заказать вкуснейшие северные гостинцы проще простого. Выбирайте на сайте аппетитные деликатесы или обратитесь к нам за помощью, если у вас возникли вопросы. Оформим заказ в считанные минуты, организуем доставку в любую точку страны, выбрав оптимальный маршрут и способ доставки. 
					p
						b Мы заботимся о наших клиентах и, как правило, первое обращение переходит в долгое и взаимовыгодное сотрудничество.
				.col-xl-3
					a(href="#").btn.btn-red Перейти в каталог



	include pug/footer