extends pug/base

append vars
	//- ...

block content
	include pug/header
	include pug/slider
	include pug/catalog
	include pug/products
	include pug/clients
	include pug/advantages
	include pug/text
	include pug/form
	include pug/footer
	include pug/modal



