.about{
	padding-bottom: 90px;

	&__banner{
		height: 450px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position:  50%;
		text-align: center;
		font-family: $bitter;
		font-size: 32px;
		color: #fff;
		margin-bottom: 50px;

		> div{
			width: 100%;
			max-width: 845px;
			margin: auto;
			line-height: 1.3;
		}
	}
	&__text{
		line-height: 1.5;
		font-size: 16px;
		margin-bottom: 50px;

		p{
			+ p{
				margin-top: 20px;
			}
		}
	}
	&__quality{
		margin-bottom: 90px;

		&__text{
			position: relative;
			height: 250px;
			padding-left: 60px;
			padding-right: 60px;
			background: #a91e17;
			color: #fff;
			font-size: 30px;
			font-family: $bitter;

			&:before{
				content: "";
				display: block;
				width: 155px;
				height: 107px;
				position: absolute;
				z-index: 0;
				left: 25px;
				top: 30px;
				background: url(../images/quotes-2.png)no-repeat;
			}
			> div{
				position: relative;
				z-index: 2;
				max-width: 335px;
			}
		}
		&__img{
			height: 100%;
			text-align: center;
			background: url(../images/forest.jpg)no-repeat 50%;
			background-size: cover;

			> div{
				width: 100%;
			}
		}
	}
	&__quote{
		max-width: 950px;
		margin: auto;
		margin-bottom: 50px;
		padding: 25px;
		text-align: center;
		font-family: $bitter;
		font-size: 18px;
		border-top: 2px solid #e6e6e6;
		border-bottom: 2px solid #e6e6e6;
		line-height: 1.7;
	}
	&__info{
		&__item{
			width: 195px;
			margin-top: 50px;
		}
		&__img{
			height: 50px;
			line-height: 50px;
			margin-bottom: 5px;

			img{
				vertical-align: middle;
			}
		}
		&__text{
			font-family: $bitter;
			font-size: 16px;
			max-width: 160px;
			line-height: 1.4;
		}
	}
}
.about__banner-descr{
	max-width: 930px;
	margin: auto;
	margin-bottom: 45px;
	font-size: 18px;
	color: #666666;
	line-height: 1.5;
}
.philosophy{
	p{
		line-height: 1.5;
	}
	&__content{
		margin-top: 60px;
	}
	h3{
		&:before{
			content: "";
			display: block;
			background: $red;
			width: 50px;
			height: 3px;
			margin-bottom: 20px;
		}
	}
}
.quote{
	padding-left: 60px;
	position: relative;

	&:before{
		content: "";
		display: block;
		width: 155px;
		height: 107px;
		position: absolute;
		z-index: -1;
		left: 40px;
		top: -10px;
		background: url(../images/quotes-1.png)no-repeat;
	}
	p{
		line-height: 1.5;
		font-size: 16px;
		margin-top: 30px;
	}
}
.director{
	margin-top: 50px;

	&__name{
		font-size: 20px;
		font-family: $bitter;
	}
	&__text{
		font-size: 14px;
	}
}
.section--service{
	font-size: 16px;
	h2{
		margin-bottom: 30px;

	}
	p{
		line-height: 1.5;

		+ p{
			margin-top: 20px;
		}
	}
	.btn{
		margin-top: 60px;
	}
}