.top-panel{
	font-size: 13px;
	background: #000;
	color: #fff;
	padding: 8px 0;
}
.gps-icon{
	width: 18px;
	height: 24px;
	margin-right: 8px;
	background: url(../images/location-2.png)no-repeat;
}
.time-icon{
	width: 20px;
	height: 20px;
	margin-right: 8px;
	background: url(../images/alram.png)no-repeat;
}
.time{
	font-weight: bold;
	font-size: 14px;
	padding: 10px 20px;
	border-radius: 25px;
	background: #303233;
	margin-left: 10px;
}
.header-center{
	padding: 20px 0;
}
.search{
	position: relative;
	width: 360px;
}
.search-submit{
	width: 22px;
	height: 22px;
	border: 0;
	outline: 0;
	background: url(../images/magnifier-1.png)no-repeat;
	cursor: pointer;
}
.phone{
	font-weight: bold;
	font-size: 16px;
	line-height: 1.6;
}
.logo{
	width: 350px;
}
.catalog-btn{
	position: relative;

	&:hover{
		.dropdown{
			display: block;
		}
	}

	> a{
		font-weight: bold;
		font-size: 16px;
		color: #000;
	}
}
.dropdown{
	position: absolute;
	z-index: 10;
	top: 100%;
	left: 0;
	padding-top: 15px;
	display: none;
}
.dropdown-content{
	background: #f2f2f2;

	&:before{
		content: "";
		position: absolute;
		z-index: 2;
		top: 5px;
		left: 0;
		width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f2f2f2;
	}

	> ul{
		min-width: 185px;
		position: relative;
		padding: 25px 0;

		ul{
			position: absolute;
			z-index: 5;
			left: 100%;
			top: 0;
			padding: 25px;
			background: #f2f2f2;
			height: 100%;
			min-width: 185px;
			display: none;

			&:before{
				content: "";
				display: block;
				position: absolute;
				z-index: 2;
				left: 0;
				top: 25px;
				height: calc(100% - 50px);
				width: 1px;
				background: #ccc;
			}
			
			li{
				+ li{
					margin-top: 20px;
				}
			}
			a{
				font-size: 14px;
				color: #000;

				&:hover{
					color: #d92a21;
				}
			}
		}

		> li{
			&:hover{

				> a{
					color: #d92a21;
				}
				ul{
					display: block;
				}
			}

			+ li{
				margin-top: 20px;
			}

			> a{
				font-weight: bold;
				color: #000;
				display: block;
				position: relative;
				padding-left: 25px;
				padding-right: 25px;

				&:after{
					content: "";
					display: block;
					width: 6px;
					height: 10px;
					position: absolute;
					z-index: 2;
					right: 25px;
					top: 5px;
					background: url(../images/arrow-2-down.png)no-repeat;
				}
			}
		}
	}
}
.burger-icon{
	width: 26px;
	height: 18px;
	margin-right: 15px;
	background: url(../images/hamburger-menu-1.png)no-repeat;
}
.menu{
	> li{
		display: inline-block;
		vertical-align: middle;
		font-weight: bold;

		+ li{
			margin-left: 30px;
		}
	}
	a{
		color: #000;
	}
}
.cart-icon{
	width: 24px;
	height: 24px;
	margin-right: 5px;
	background: url(../images/cart-1.png)no-repeat;
}
.basket{
	&__title{
		color: #000;
		font-weight: bold;
		font-size: 16px;
	}
	&__price{
		font-size: 13px;
		color: #666666;
		margin-top: 2px;
	}
}
.nav{
	border-bottom: 2px solid #f2f2f2;
	padding-bottom: 15px;
	margin-bottom: 20px;
}
.hamburger-box {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 19px;
  cursor: pointer;
  user-select: none;

  &.is-active{
  	.hamburger-inner{
  		transform: translate3d(0,9px,0) rotate(45deg);
			
			&:before{
				transform: rotate(-45deg) translate3d(-5.71429px,-6px,0);
    		opacity: 0;
			}
  		&:after{
  			transform: translate3d(0,-16px,0) rotate(-90deg);
  		}
  	}
  }
}
.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
  position: absolute;
  width: 25px;
  height: 2px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  top: 2px;
  background-color: #d92a21;

  &:before{
  	content: "";
  	position: absolute;
    width: 25px;
    height: 2px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    background-color: #d92a21;
    top: -10px;
    top: 8px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform,opacity;
  }
  &:after{
  	content: "";
  	position: absolute;
    width: 25px;
    height: 2px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    background-color: #d92a21;
    bottom: -10px;
    top: 16px;
  }
}
